<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDKDemo-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>137B35A71DA3BDD500FE953C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>137B35BD1DA3BDD600FE953C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>137B35C81DA3BDD600FE953C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138ED39C1DA3CBE500424A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138ED3F81DA3D19500424A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138ED40E1DA3D19500424A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138ED4191DA3D19500424A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AF77401D9E34C900048689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
